@charset "utf-8";
body{
	background:url(../images/background-1.png) no-repeat center fixed;
	background-size:cover;
	font-family:Tahoma, Geneva, sans-serif;
}
#main_body{
	width:101.2%;
	min-height:100%;
	margin:-0.6%;
}

#login_head_1{
	width:50%;
	height:700px;
	margin:auto;
	margin-top:5%;
	display:table;
	background:url(../images/img_login_1.png) center no-repeat;
}

#login_head_2{
	width:98.5%;
	height:100px;
	padding:5px;
	vertical-align:middle;
	line-height:100px;
}

#login_head_2 span{
	font-size:28px;
	font-weight:bold;
	color:#FFF;
	position:absolute;
	margin-left:30px;
}

#login_body{
	border-radius:5px;
	padding:5px;
	width:35%;
	min-height:100px;
	margin:auto;
	margin-top:15%;
	text-align:center;
	padding:20px;
	font-size:28px;
}

#login_body input{
	border:#000 medium solid;
}

#login_body span{
	background-color:#000;
	font-weight:bold;
	color: yellow;
    text-shadow: -1px 0 #FF0000, 0 1px #FF0000, 1px 0 #FF0000, 0 -1px #FF0000;
}